@import 'leaflet/control/_Control.scss';
@import 'leaflet/control/_Attribution.scss';
@import 'leaflet/control/_HazDevLayers.scss';
@import 'leaflet/control/_MousePosition.scss';
@import 'leaflet/control/_Scale.scss';
@import 'leaflet/control/_Zoom.scss';

@import '_FaultApp.scss';
@import 'layer/_HazardFault.scss';
@import 'layer/_Legend.scss';


/*
.logo {
  display:block;
  position:fixed;
  bottom:10px;left:130px;
  outline:none;
  text-decoration:none;
  border:none;
}
.logo > img {
  border:none;
  outline:none;
  text-decoration:none;
}

.area-info,
.paleo-info {
  border-spacing:0;
  border-collapse:collapse;
}
.area-info tbody,
.paleo-info tbody {
  max-height:300px;
  overflow-y:auto;
}
.area-info th,
.paleo-info th {
  font-weight:bold;
  color:#FFF;
  background-color:#999;
  padding:2px 5px;
}
.area-info td,
.paleo-info td {
  padding:4px;
  border-bottom:1px solid #CCC;
}
.leaflet-popup-content h2 {
  margin-top:0;
}
.leaflet-popup-scrolled {
  border-top:none;
  border-bottom:none;
}

.faults-info {
  margin:0;
  padding:0;
  list-style:none;
}
.fault-wrapper {
  float:left;
  clear:left;
  border-bottom:1px solid #CCC;
  width:95%;
  margin-bottom:8px;
  padding-bottom:8px;
}
.fault-info {
  float:left;
  margin:0;
  padding:0;
}
.fault-info > dt,
.fault-info > dd {
  display:block;
  float:left;
  margin:0 4px 0 0;
  padding:2px;
  font-weight:bold;
}
.fault-info > dt:after {
  display:block;
  float:right;
  content:':';
}
.fault-info > .clear {
  clear:left;
}
.fault-info > dd {
  font-weight:normal;
}
.fault-info > .fault-name-data {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  width:400px;
}
.fault-info > .fault-name-data:hover {
  overflow:visible;
  text-overflow:visible;
}

.unknown {
  color:#666;
  font-style:italic;
  font-size:.95em;
}
*/
