* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html, body, #mapdiv {
	display:block;
	margin:0;padding:0;
	height:100%;
}
.legend {
	position:fixed;
	top:10px;right:10px;
	background-color:#666;
	background-color:rgba(0,0,0,.5);
	border-radius:5px;
	padding:5px;
	margin:0;
}
.legend > h2 {
	margin:0;
	padding:2px 0 0 5px;
	font-size:.8em;
	background-color:#FFF;
	font-family:Arial;
	border-radius:4px 4px 0 0;
	border-bottom:1px solid #CCC;
}
.legend > img {
	display:block;
	border-radius:0 0 4px 4px;
}
.legend > img.qfault {
	border-radius:4px;
}
.logo {
	display:block;
	position:fixed;
	bottom:10px;left:130px;
	outline:none;
	text-decoration:none;
	border:none;
}
.logo > img {
	border:none;
	outline:none;
	text-decoration:none;
}
.leaflet-control-scale {
	background:#FFF;
	box-shadow:0 1px 7px rgab(0,0,0,0.65);
	border-radius:4px;
	padding:5px;
}
.leaflet-control-scale > .leaflet-control-scale-line {
	background:transparent;
	box-shadow:none;
}
.leaflet-bottom > .leaflet-control-scale {
	margin-bottom:15px;
}
.leaflet-left > .leaflet-control-scale {
	margin-left:15px;
}
.area-info,
.paleo-info {
	border-spacing:0;
	border-collapse:collapse;
}
.area-info tbody,
.paleo-info tbody {
	max-height:300px;
	overflow-y:auto;
}
.area-info th,
.paleo-info th {
	font-weight:bold;
	color:#FFF;
	background-color:#999;
	padding:2px 5px;
}
.area-info td,
.paleo-info td {
	padding:4px;
	border-bottom:1px solid #CCC;
}
.leaflet-popup-content h2 {
	margin-top:0;
}
.leaflet-popup-scrolled {
	border-top:none;
	border-bottom:none;
}

.tabs-controls {
	display:block;
	float:left;
	list-style:none;
	margin:0 0 8px 0;
	padding:0;
	border-bottom:1px solid #666;
	width:100%;
}
.tabs-control {
	position:relative;
	top:1px;
	display:block;
	float:left;
	margin:0 2px;
	padding:2px 4px;
	border-width:1px;
	border-style:solid;
	border-color:#666;
	border-radius:4px 4px 0 0;
	cursor:pointer;
	background-color:#F0F0F0;
}
.tabs-control-selected {
	border-bottom-color:#FFF;
	background-color:#FFF;
}
.tabs-contents {
	clear:left;
	max-height:150px;
	overflow-y:auto;
}
.tabs-content {
	display:none;
}
.tabs-content-visible {
	display:block;
}

.faults-info {
	margin:0;
	padding:0;
	list-style:none;
}
.fault-wrapper {
	float:left;
	clear:left;
	border-bottom:1px solid #CCC;
	width:95%;
	margin-bottom:8px;
	padding-bottom:8px;
}
.fault-info {
	float:left;
	margin:0;
	padding:0;
}
.fault-info > dt,
.fault-info > dd {
	display:block;
	float:left;
	margin:0 4px 0 0;
	padding:2px;
	font-weight:bold;
}
.fault-info > dt:after {
	display:block;
	float:right;
	content:':';
}
.fault-info > .clear {
	clear:left;
}
.fault-info > dd {
	font-weight:normal;
}
.fault-info > .fault-name-data {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	width:400px;
}
.fault-info > .fault-name-data:hover {
	overflow:visible;
	text-overflow:visible;
}

.unknown {
	color:#666;
	font-style:italic;
	font-size:.95em;
}
