.leaflet-control-scale,
.control-logo {
  float: none;
  display: inline-block;
  vertical-align: bottom;
}

.control-logo {
  background-color: transparent;
  box-shadow: none;
  height: 32px;
  padding: 0;
}
